@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700");

/* pakai em agar dapat menyesuaikan tinggi baris dan antar paragraf berdasarkan ukuran teks.*/
/* responsive di tulis setelah code css nya, contoh (@media screen and (max-width: ---)) */

/* Reset */

	html, body, div, span, object, iframe, h1, h2, 
	h3, h4, h5, h6, p, em, img, small, strong,  
	b, u, i, center, ol, ul, li, fieldset, 
	label, table, caption, article, embed, figure, header, hgroup, section {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, figure, footer, header, hgroup, 
	section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}



	*:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Containers */



/* Type */

	body {
		background-color: #fff;
		color: #777;
	}

	body, input, select, textarea {
		font-family: "Raleway", Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 400;
		line-height: 2em;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 980px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

	a {
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	strong, b {
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3 {
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 1em 0;
		text-transform: uppercase;
	}

		h1 a, h2 a, h3 a {
			text-decoration: none;
		}

	h2 {
		font-size: 1.5em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.5em;
		line-height: 1.5em;
	}

	

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

	input, select, textarea {
		color: #25383B;
	}

	a {
		color: #51BAA4;
	}

	strong, b {
		color: #25383B;
	}

	h1, h2, h3 {
		color: #25383B;
	}

	

/* Section/Article/satu */

	section.special, article.special {
		text-align: justify;
	}

	header p {
		margin: 2em 0 0 0;
		position: relative;
		text-align: justify;
		text-transform: none;
	}

	header h2, p {
		font-size: 1.25em;
		position: relative;
		margin-top: -1em;
		line-height: 1.85em;
	}

	header.major {
		margin-bottom: 4em;
	}

		header.major h2 {
			font-size: 2.5em;
		}

	

	@media screen and (max-width: 1280px) {

		header.narrow {
			max-width: 75%;
		}

	}

	@media screen and (max-width: 980px) {

		header.narrow {
			max-width: 100%;
		}

		header.major {
			margin-bottom: 2em;
		}

			header.major h2 {
				font-size: 2em;
			}

	}

	@media screen and (max-width: 736px) {

		header.major h2 {
			font-size: 1.5em;
		}

		header.major p {
			font-size: 1em;
		}

	}

	header p {
		color: #25383B;
	}

/* Image */

	.image {
		border-radius: 0;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 0;
			display: block;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 0 0 3em 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			} 

/* Untuk List di Header */

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		border-radius: 2.5em;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-weight: 700;
		height: 2.85em;
		line-height: 2.95em;
		min-width: 10em;
		padding: 0 1.5em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		button.icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			button.icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.8em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		button.big,
		.button.big {
			font-size: 1.2em;
			height: 3.25em;
			line-height: 3.25em;
			padding: 0 2.5em;
		}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			cursor: default;
			opacity: 0.25;
		}

		@media screen and (max-width: 980px) {

			input[type="submit"].big,
			input[type="reset"].big,
			input[type="button"].big,
			button.big,
			.button.big {
				font-size: 1em;
			}

		}

		@media screen and (max-width: 480px) {

			input[type="submit"],
			input[type="reset"],
			input[type="button"],
			button,
			.button {
				padding: 0;
			}

		}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		background-color: #25383B;
		box-shadow: none;
		color: #fff !important;
	}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			color: #999;
		}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background-color: #2f474b;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: #1b292b;
		}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		button.special,
		.button.special {
			background-color: #51BAA4;
			box-shadow: none;
			color: #fff !important;
		}

			input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			input[type="button"].special:hover,
			button.special:hover,
			.button.special:hover {
				background-color: #63c1ae;
			}

			input[type="submit"].special:active,
			input[type="reset"].special:active,
			input[type="button"].special:active,
			button.special:active,
			.button.special:active {
				background-color: #45ad97;
			}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		button.alt,
		.button.alt {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px #51BAA4;
			color: #51BAA4 !important;
		}

			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			input[type="button"].alt:hover,
			button.alt:hover,
			.button.alt:hover {
				background-color: rgba(144, 144, 144, 0.075);
			}

			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			input[type="button"].alt:active,
			button.alt:active,
			.button.alt:active {
				background-color: rgba(144, 144, 144, 0.2);
			}

/* Feature */

	.feature {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		margin-bottom: 6em;
	}

		.feature:last-child {
			margin-bottom: 2em;
		}

		.feature.left {
			-moz-flex-direction: row;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
		}

		.feature.right {
			-moz-flex-direction: row-reverse;
			-webkit-flex-direction: row-reverse;
			-ms-flex-direction: row-reverse;
			flex-direction: row-reverse;
		}

		.feature .image {
			width: 48%;
		}

			.feature .image img {
				max-width: 100%;
			}

		.feature .content {
			padding: 2em 3em 0.1em 3em;
			width: 52%;
		}

		@media screen and (max-width: 1280px) {

			.feature {
				margin-bottom: 4em;
			}

				.feature .content {
					padding: 1em 2em 0.1em 2em;
				}

		}

		@media screen and (max-width: 980px) {

			.feature.left, .feature.right {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}

			.feature .image {
				width: 100%;
			}

				.feature .image img {
					width: 100%;
				}

			.feature .content {
				padding: 2em 2em 0.1em 2em;
				width: 100%;
			}

		}

		@media screen and (max-width: 736px) {

			.feature {
				margin-bottom: 2em;
			}

				.feature .content {
					padding: 2em 1em 0.1em 1em;
				}

		}

	.feature {
		background-color: rgba(144, 144, 144, 0.075);
	}

/* Image Grid */

	.image-grid {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-bottom: 4em;
	}

		.image-grid .image {
			margin: 0;
			width: 25%;
		}

			.image-grid .image img {
				width: 100%;
			}

		@media screen and (max-width: 980px) {

			.image-grid {
				margin-bottom: 3em;
			}

				.image-grid .image {
					width: 50%;
				}

		}

		@media screen and (max-width: 480px) {

			.image-grid {
				margin-bottom: 2em;
			}

				.image-grid .image {
					width: 100%;
				}

		}

/* Wrapper */

	.wrapper {
		padding: 8em 0 6em 0;
		position: relative;
	}

		.wrapper > .inner {
			margin: 0 auto;
			width: 80em;
		}

		.wrapper.style1 {
			background-color: #EEE;
			color: #777;
		}

			.wrapper.style1 input, .wrapper.style1 select, .wrapper.style1 textarea {
				color: #555;
			}

			.wrapper.style1 a {
				color: #51BAA4;
			}

			.wrapper.style1 strong, .wrapper.style1 b {
				color: #555;
			}

			.wrapper.style1 h1, .wrapper.style1 h2 {
				color: #555;
			}

			
		@media screen and (max-width: 1280px) {

			.wrapper {
				padding: 6em 0 4em 0;
			}

				.wrapper > .inner {
					width: 65em;
				}

		}

		@media screen and (max-width: 980px) {

			.wrapper {
				padding: 5em 3em 3em 3em;
			}

				.wrapper > .inner {
					width: 100%;
				}

		}

		@media screen and (max-width: 736px) {

			.wrapper {
				padding: 3em 2em 1em 2em;
			}

		}

		@media screen and (max-width: 480px) {

			.wrapper {
				padding: 2em 1em 0.1em 1em;
			}

		}

/* Header */

	body {
		padding-top: 3.125em;
	}

		body.landing {
			padding-top: 0;
		}

		@media screen and (max-width: 980px) {

			body {
				padding-top: 44px;
			}

		}

	#header {
		background: #07090c;
		color: rgba(255, 255, 255, 0.75);
		cursor: default;
		height: 3.25em;
		left: 0;
		line-height: 3.25em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 100%;
		z-index: 10001;
	}

		#header > h2 {
			color: #fff;
			display: inline-block;
			height: inherit;
			left: 1.25em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
		}

		#header.alt {
			background-color: transparent;
			font-size: 1.25em;
			padding: 1em 2em;
			position: absolute;
		}

			#header.alt > h2 {
				color: inherit;
				position: static;
				float: left;
			}

			

	@media screen and (max-width: 980px) {

		body {
			padding-top: 44px;
		}

		#header {
			height: 44px;
			line-height: 44px;
		}

			#header > h2 {
				left: 1em;
			}

				#header > h2 a {
					font-size: 1em;
				}

			#header.alt {
				font-size: 1em;
			}

	}

	@media screen and (max-width: 480px) {

		#header {
			min-width: 320px;
		}

			#header > h2 {
				left: 1em;
			}

			#header.alt {
				padding: 0.5em 1em;
			}

	}

/* Banner */

	#banner {
		padding: 8em 0 6em 0;
		background-color: #1E2832;
		color: rgba(255, 255, 255, 0.75);
		background-attachment: fixed;
		background-image: url("images/bannerjpg"), url("../images/banner.jpg");
		background-size: cover;
		text-align: center;
	}

		#banner input, #banner select, #banner textarea {
			color: #fff;
		}

		#banner a {
			color: #51BAA4;
		}

		#banner strong, #banner b {
			color: #fff;
		}

		#banner h1, #banner h2, #banner h3{
			color: #fff;
		}

		#banner hr {
			border-bottom-color: transparent;
		}

		#banner input[type="submit"],
		#banner input[type="reset"],
		#banner input[type="button"],
		#banner button,
		#banner .button {
			background-color: #fff;
			box-shadow: none;
			color: #1E2832 !important;
		}

			#banner input[type="submit"].icon:before,
			#banner input[type="reset"].icon:before,
			#banner input[type="button"].icon:before,
			#banner button.icon:before,
			#banner .button.icon:before {
				color: #a5a9ad;
			}

			#banner input[type="submit"]:hover,
			#banner input[type="reset"]:hover,
			#banner input[type="button"]:hover,
			#banner button:hover,
			#banner .button:hover {
				background-color: white;
			}

			#banner input[type="submit"]:active,
			#banner input[type="reset"]:active,
			#banner input[type="button"]:active,
			#banner button:active,
			#banner .button:active {
				background-color: #f2f2f2;
			}

			#banner input[type="submit"].special,
			#banner input[type="reset"].special,
			#banner input[type="button"].special,
			#banner button.special,
			#banner .button.special {
				background-color: #51BAA4;
				box-shadow: none;
				color: #fff !important;
			}

				#banner input[type="submit"].special:hover,
				#banner input[type="reset"].special:hover,
				#banner input[type="button"].special:hover,
				#banner button.special:hover,
				#banner .button.special:hover {
					background-color: #63c1ae;
				}

				#banner input[type="submit"].special:active,
				#banner input[type="reset"].special:active,
				#banner input[type="button"].special:active,
				#banner button.special:active,
				#banner .button.special:active {
					background-color: #45ad97;
				}

			#banner input[type="submit"].alt,
			#banner input[type="reset"].alt,
			#banner input[type="button"].alt,
			#banner button.alt,
			#banner .button.alt {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px #fff;
				color: #fff !important;
			}

				#banner input[type="submit"].alt:hover,
				#banner input[type="reset"].alt:hover,
				#banner input[type="button"].alt:hover,
				#banner button.alt:hover,
				#banner .button.alt:hover {
					background-color: rgba(255, 255, 255, 0.05);
				}

				#banner input[type="submit"].alt:active,
				#banner input[type="reset"].alt:active,
				#banner input[type="button"].alt:active,
				#banner button.alt:active,
				#banner .button.alt:active {
					background-color: rgba(255, 255, 255, 0.1);
				}

		#banner h2 {
			font-size: 2.5em;
			margin: 0 0 0.5em 0;
			padding: 0;
		}

		#banner p {
			color: #fff;
			font-size: 1.5em;
			margin-bottom: 1.75em;
			text-transform: uppercase;
		}

		@media screen and (max-width: 1680px) {

			#banner {
				padding: 11em 0 9em 0;
			}

		}

		@media screen and (max-width: 1280px) {

			#banner {
				padding: 9em 0 7em 0;
			}

				#banner h2 {
					font-size: 2em;
				}

		}

		@media screen and (max-width: 980px) {

			#banner {
				padding: 8em 2em 6em 2em;
			}

		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 5em 2em 3em 2em;
			}

				#banner h2 {
					font-size: 1.5em;
				}

				#banner p {
					font-size: 1em;
				}

				#banner .icon {
					font-size: 2em;
				}

		}

		@media screen and (max-width: 480px) {

			#banner {
				padding: 5em 2em 3em 2em;
			}

				#banner .icon {
					font-size: 1.5em;
				}

		}

/* Main */

	#main {
		padding: 5em 0 3em 0;
	}

		@media screen and (max-width: 1280px) {

			#main {
				padding: 4em 0 2em 0;
			}

		}

		@media screen and (max-width: 980px) {

			#main {
				padding: 3em 0 1em 0;
			}

		}

		@media screen and (max-width: 736px) {

			#main {
				padding: 2em 0 0.1em 0;
			}

		}

/* Footer */
